{% if is_ajax == false %}
  {% extends "layout.html.twig" %}
  {% block title %}{% endblock %}
  {% block description %}{% endblock %}
{% endif %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-md-2" style="padding-left: 0;">
      {% include "aggregations.html.twig" %}
    </div>
    <div class="col-md-10">

      {#<ul class="subnav" style="">
        <li>Random: </li>
        {% for val in 'auto, website, blog' | split | shuffle | slice(0, 10) %}
          <li><a href="/catalog?query={{ val }}">{{ val }}</a></li>
        {% endfor %}
      </ul>#}

      {% include "breadcrumbs.html.twig" %}

      <div class="clearfix"></div>

      <h3>List of items ({{pagination.total}})</h3>


      {% if website.layout.name === 'table' %}

        <table class="table table-striped">
          <tbody>
            {% for item in items %}
            <tr>
              {% if website.layout.columns %}
              {% for column in website.layout.columns %}
                <td>
                  {% if column == 'image' %}
                  <img style="width: 80px;" src="{{ item.image }}" alt="{{ item.name }}" />
                  {% else %}
                  <td>
                    {{ item[column] }}
                  </td>
                  {% endif %}
                </td>
              {% endfor %}
              {% else %}
              <td>
                {{ item.name }}
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}

        <div class="items">
          {% for item in items %}
          <div class="col-xs-3 col-md-3" style="height: 350px;">
              <img class="img-thumbnail" src="{% if item.image %}{{ item.image }}{% else %}{{ image }} {% endif %}" alt="{{ item.name }}">
              <p>{{ item.name }}</p>
          </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="clearfix"></div>

      {% include "pagination.html.twig" %}

    </div>
  </div>
</div>
{% endblock %}

{% block before_head_end %}
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/start/jquery-ui.css" />
{% endblock %}

{% block before_body_end %}
{% endblock %}
